<%= render :partial => "user", :collection => @users %>
<% form_for @user do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :username, "Username" %><br />
      <%= form.text_field :username %>
    </p>
    <p>
      <%= form.label :email, "Email" %><br />
      <%= form.text_field :email %>
    </p>
    <p>
      <%= form.label :password, "Password" %><br />
      <%= form.password_field :password %>
    </p>
    <p>
      <%= form.label :password_confirmation, "Password confirmation" %><br />
      <%= form.password_field :password_confirmation %>
    </p>
    <p>
      <%= form.submit "Submit" %>
    </p>
<% end %>  