<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List Users', users_path  %></li>
      <li><%= link_to 'New User', new_user_path %></li>
      <li class="active"><%= link_to 'Show User', user_path %></li>
      <li><%= link_to 'Edit User', edit_user_path(@user) %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Username:</b>
          <%= @user.username %>
        </p>

        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>

        <p>
          <b>Login Count:</b>
          <%= @user.login_count %>
        </p>

        <p>
          <b>Failed Login Count:</b>
          <%= @user.failed_login_count %>
        </p>

        <p>
          <b>Last Request At:</b>
          <%= @user.last_request_at %>
        </p>

        <p>
          <b>Current Login At:</b>
          <%= @user.current_login_at %>
        </p>

        <p>
          <b>Last Login At:</b>
          <%= @user.last_login_at %>
        </p>

        <p>
          <b>Current Login IP:</b>
          <%= @user.current_login_ip %>
        </p>

        <p>
          <b>Last Login IP:</b>
          <%= @user.last_login_ip %>
        </p>

        <p>
          <b>Admin:</b>
          <%= @user.is_admin %>
        </p>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <div class="inner">
      <h3><%=h @user.username %>'s Schedules</h3>
      <table class="table">
      <tr>             
        <th class="first">ID</th>
                  <th>Start Time</th>
				          <th>Duration</th>
				          <th>Num of Pictures</th>
        <th class="last">&nbsp;</th>
      </tr>
      <% @user.schedules.each do |schedule| %>
        <tr>
          <td><%=h schedule.id %></td>
          <td><%=h schedule.start_time %></td>
          <td><%=h schedule.output_duration %></td>
          <td><%=h schedule.number_of_pictures %></td>
          <td>
            <%= link_to 'show', schedule_path(schedule) %>
            <% if schedule.user == @current_user || @current_user.is_admin? %>
              | <%= link_to 'edit', edit_schedule_path(schedule) %>
              | <%= link_to 'delete', schedule_path(schedule), :method => :delete, :confirm => 'Are you sure?' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>

<% title ("View User") %> 