<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', users_path  %></li>
      <li><%= link_to 'New', new_user_path %></li>
      <li class="active"><%= link_to 'Show', user_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Username:</b>
          <%= @user.username %>
        </p>

        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>

        <p>
          <b>Login Count:</b>
          <%= @user.login_count %>
        </p>

        <p>
          <b>Failed Login Count:</b>
          <%= @user.failed_login_count %>
        </p>

        <p>
          <b>Last Request At:</b>
          <%= @user.last_request_at %>
        </p>

        <p>
          <b>Current Login At:</b>
          <%= @user.current_login_at %>
        </p>

        <p>
          <b>Last Login At:</b>
          <%= @user.last_login_at %>
        </p>

        <p>
          <b>Current Login IP:</b>
          <%= @user.current_login_ip %>
        </p>

        <p>
          <b>Last Login IP:</b>
          <%= @user.last_login_ip %>
        </p>

        <p>
          <b>Admin:</b>
          <%= @user.is_admin %>
        </p>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </div>
  </div>
</div>

<% title ("View User") %> 