
  <div class="group">
    <%= f.label :start_time, "Start Time", :class => :label %>
    <%= f.datetime_select :start_time, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :latitude, "Latitude", :class => :label %>
    <%= f.text_field :latitude, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :longitude, "Longitude", :class => :label %>
    <%= f.text_field :longitude, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :exposure, "Exposure", :class => :label %>
    <%= f.text_field :exposure, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :number_of_pictures, "Number of Pictures", :class => :label %>
    <%= f.text_field :number_of_pictures, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', schedules_path %>
</div>