<div class="group">
  <%= f.error_messages %>
</div>

<div class="group">
  <%= f.label :start_time, "Start Time", :class => :label %>
  <%= f.calendar_date_select :start_time, :embedded => true, :clear_button => false,
                             :year_range => 0.years.ago..4.years.from_now %>
  <span class="description">When do you wish the telescope to position itself?</span>
</div>

<div class="group">
  <%= label_tag "coordinates", "Location Input", :class => :label %>
  <%= link_to_function("Celestial Object") do |page|
      page[:library].show
      page[:coordinates].hide
  end %> |
  <%= link_to_function("Coordinate Values") do |page|
      page[:library].hide
      page[:schedule_celestial_object_name].value = ""
      page[:coordinates].show
  end %><br />
  <span class="description">Would you rather use the library of celestial objects or manually input coordinates? Default: coordinates.</span>
</div>

<span id="library" style="display:none">
    <div class="group">
      <%= f.label :celestial_object_name, "Celestial Object", :class => :label %>
      <%= text_field_with_auto_complete :schedule, :celestial_object_name,
                                        { :class => 'text_field' },
                                        { :url => formatted_celestial_objects_path(:js),
                                          :method => :get, :with => "'search=' + element.value" } %>
      <span class="description">Select an object to position to.</span>
    </div>
</span>

<span id="coordinates">
    <div class="group">
      <%= f.label :right_ascension, "Right Ascension", :class => :label %>
      <%= f.time_select :right_ascension, :include_seconds => true,
                        :default => { :hour => 0, :minute => 0, :second => 0 },
                        :class => 'time_select' %><br />
      <span class="description">Coordinates; the celestial equivalent to Earth longitude.</span>
    </div>

    <div class="group">
      <%= f.label :declination, "Declination", :class => :label %>
      <%= f.text_field :declination, :class => 'text_field', :value => '0.00' %>
      <span class="description">Coordinates; the celestial equivalent to Earth latitude.</span>
    </div>
</span>

<div class="group">
  <%= f.label :zoom, "Zoom Ratio", :class => :label %>
  <%= f.select :zoom, [1, 10, 100, 1000], :class => 'select' %><br />
  <span class="description">The zoom rating on the telescope.</span>
</div>

<h3>Camera Settings:</h3>
<div class="group">
  <%= f.label :exposure, "Exposure", :class => :label %>
  <%= f.text_field :exposure, :class => 'text_field', :value => '8' %>
  <span class="description">Camera exposure rating.</span>
</div>

<div class="group">
  <%= f.label :shutter, "Shutter", :class => :label %>
  <%= f.select :shutter,
               ['1/1000', '1/500', '1/250', '1/125', '1/60', '1/30', '1/15', '1/8', '1/4', '1'],
               :class => 'select' %><br />
  <span class="description">Camera shutter speed in seconds.</span>
</div>

<div class="group">
  <%= f.label :iso, "ISO", :class => :label %>
  <%= f.select :iso, [100, 200, 400, 800], :class => 'select' %><br />
  <span class="description">Camera film speed rating.</span>
</div>

<h3>Duration Type:</h3>
<div class="group">
  <%= f.label :duration_text, "Duration", :class => :label %>
  <%= f.text_field :duration_text, :class => 'text_field', :value => '4 mins 50 seconds' %>
  <span class="description">How long should this task be scheduled for? Ex. ‘2 hrs 20 min’, ‘2h20min’, ‘5 mins’</span>
</div>

<div class="group">
  <%= f.label :number_of_pictures, "Number of Pictures", :class => :label %>
  <%= f.text_field :number_of_pictures, :class => 'text_field' %>
  <span class="description">How many pictures need to be taken before the task is complete?</span>
</div>

<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', schedules_path %>
</div>