<tr class="<%= cycle("odd", "even") %>">
  <td>
    <%= schedule.start_time.strftime("%B %d, %Y") %>
  </td>
  <td>
    <%= link_to schedule.start_time.strftime("%I:%M:%S %p"), schedule_path(schedule) %>
  </td>
  <td>
    <%=h schedule.right_ascension.strftime("%H:%M:%S") %>
  </td>
  <td>
    <%=h schedule.declination %>
  </td>
  <td>
    <%=h schedule.number_of_pictures %>
  </td>
  <td>
    <%=h schedule.output_duration %>
  </td>
  <td class="last">
    <%= link_to 'show', schedule_path(schedule) %>
    <% if schedule.user == @current_user || @current_user.is_admin? %>
        | <%= link_to 'edit', edit_schedule_path(schedule) %>
        | <%= link_to 'delete', schedule_path(schedule), :method => :delete, :confirm => 'Are you sure?' %>
    <% end %>
  </td>
</tr> 