<% title ("Schedule Log") %>

<ul class="rounded">
	<li><%= "Schedule Log for #{session[:search]}" %></li>
</ul>
<% #form_tag "/schedules", :method => "get", :class => "form" do %>
      <% #label_tag :date, "Select a date:", :class => "label" %><br />
      <% #text_field_tag "search", @default_time %>
      <% #submit_tag "Search", :name => nil, :class => "button" %>
  <% #end %>
<ul class="rounded">
	<%= render :partial => @schedules %>
</ul>
<ul class="individual">
	<li><%= link_to_previous_day %></li>
	<li><%= link_to_next_day %></li>
</ul>
<ul class="individual">
	<li><%= link_to_previous_week %></li>
	<li><%= link_to_next_week %></li>
</ul>
<ul class="individual">
	<li><%= link_to_previous_month %></li>
	<li><%= link_to_next_month %></li>
</ul>