<% title ("Schedule Log") %>

<div class="block">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Schedule Log</h2>
    <div class="inner">
      <% form_tag "/schedules", :method => "get", :class => "form" do %>
          <%= label_tag :date, "Select a date", :class => "label" %>
          <%= calendar_date_select_tag "search", @default_time, :embedded => true, :year_range => 0.years.ago..4.years.from_now %>
          <%= submit_tag "Search", :name => nil, :class => "button" %>
      <% end %><br />
      <table class="table">
        <tr>
          <th>Start Date</th>
          <th class="last">Start Time</th>
        </tr>
        <div id="results">
          <%= render :partial => @schedules %>
          <%= will_paginate @schedules %>
        </div>
      </table>
      <br />
      <div class="group navform">
      </div>
      <div class="actions-bar">
        <div class="actions"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>