<% title ("View Schedule") %>

<div class="block">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="inner">
      <h3>Telescope Settings:</h3>
      <p>
        <b>Start Date:</b>
        <%= @schedule.start_time.strftime("%B %d, %Y") %>
      </p>
      <p>
        <b>Start Time:</b>
        <%= @schedule.start_time.strftime("%I:%M:%S %p") %>
      </p>

      <% if !@schedule.celestial_object.nil? %>
          <p>
            <b>Celestial Object:</b>
            <%= @schedule.celestial_object_name %>
          </p>
      <% else %>
          <p>
            <b>Right Ascension:</b>
            <%= @schedule.right_ascension.strftime("%H:%M:%S") if !@schedule.right_ascension.nil? %>
          </p>
          <p>
            <b>Declination:</b>
            <%= @schedule.declination %>
          </p>
      <% end %>

      <p>
        <b>Zoom:</b>
        <%= @schedule.zoom %>
      </p>

      <% if @schedule.number_of_pictures.blank? %>
          <p>
            <b>Duration:</b>
            <%= @schedule.output_duration %>
          </p>
      <% else %>
          <p>
            <b>Number of Pictures:</b>
            <%= @schedule.number_of_pictures %>
          </p>
      <% end %>

      <br /><h3>Camera Settings:</h3>
      <p>
        <b>Exposure:</b>
        <%= @schedule.exposure %>
      </p>

      <p>
        <b>Shutter:</b>
        <%= @schedule.shutter %>
      </p>

      <p>
        <b>ISO:</b>
        <%= @schedule.iso %>
      </p>

      <%= link_to "List Images", schedule_images_path(@schedule) %> | <%= link_to "Previous Page", schedules_path %>
    </div>
  </div>
</div>