<% title ("View Schedule") %>

<ul class="rounded">
	<li>Telescope Settings:</li>
	<li>
		<b>Start Date:</b>
		<%= @schedule.start_time.strftime("%B %d, %Y") %><br />
		<b>Start Time:</b>
		<%= @schedule.start_time.strftime("%I:%M:%S %p") %><br />
		
		<% if !@schedule.celestial_object.nil? %>
		    <b>Celestial Object:</b>
		    <%= @schedule.celestial_object_name %><br />
		<% else %>
		    <b>Right Ascension:</b>
		    <%= @schedule.right_ascension.strftime("%H:%M:%S") if !@schedule.right_ascension.nil? %><br />
		    <b>Declination:</b>
		    <%= @schedule.declination %><br />
		<% end %>
		
		<b>Zoom:</b>
		<%= @schedule.zoom %><br />
		
		<% if @schedule.number_of_pictures.blank? %>
		    <b>Duration:</b>
		    <%= @schedule.output_duration %><br />
		<% else %>
		    <b>Number of Pictures:</b>
		    <%= @schedule.number_of_pictures %><br />
		<% end %>
	</li>
</ul>
<ul class="rounded">
	<li>Camera Settings:</li>
	<li>
		<b>Exposure:</b>
		<%= @schedule.exposure %><br />
		<b>Shutter:</b>
		<%= @schedule.shutter %><br />
		<b>ISO:</b>
		<%= @schedule.iso %><br />
	</li>
</ul>

<ul class="rounded">
	<li class="forward"><%= link_to "List Images", schedule_images_path(@schedule) %></li>
</ul>

<% if @schedule.user == @current_user || @current_user.is_admin? %>
	<ul class="rounded">
		<li class="forward"><%= link_to "Delete Schedule", confirm_delete_schedule_path({ :id => @schedule.id }) %></li>
	</ul>
<% end %>