<p>
  <b>Start time:</b>
  <%=h @schedule.start_time %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @schedule.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @schedule.longitude %>
</p>

<p>
  <b>Exposure:</b>
  <%=h @schedule.exposure %>
</p>

<p>
  <b>Number of pictures:</b>
  <%=h @schedule.number_of_pictures %>
</p>

<p>
  <b>Created by:</b>
  <%=h @schedule.user.username %>
</p>

<% if @schedule.user == @current_user %>
  <%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<% end %>
<%= link_to 'Back', schedules_path %>