<% title ("Image Gallery") %> 

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List Schedules', schedules_path %></li>
      <li><%= link_to 'Show Schedule', schedule_path(params[:schedule_id]) %></li>
      <% if Schedule.find_by_id(params[:schedule_id]).user == @current_user || @current_user.is_admin? %>
        <li><%= link_to 'Edit Schedule', edit_schedule_path(params[:schedule_id]) %></li>
      <% end %>
      <li class="active"><%= link_to 'List Images', schedule_images_path(params[:schedule_id]) %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">
      All Images for <%= Schedule.find(params[:schedule_id]).start_time.to_formatted_s(:long)  %>
    </h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Thumbnail</th>
					          <th>Image File</th>
					          <th>Uploaded At</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @images.each do |image| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to image_tag(image.image.url(:thumb)), image.image.url %>
          </td>
					<td>
						<%= link_to image.image_file_name, schedule_image_path(params[:schedule_id], image.id) %>
					</td>
					<td>
            <%=h image.image_updated_at %>
          </td>
          <td class="last">
            <%= link_to 'Show', schedule_image_path(params[:schedule_id], image.id) %>
            <% if @current_user.is_admin? %>
             | <%= link_to 'Edit', edit_schedule_image_path(params[:schedule_id], image.id) %>
             | <%= link_to 'Delete', schedule_image_path(params[:schedule_id], image.id), :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="group navform">
        <% if @current_user.is_admin? %>
          <%= link_to 'New Image', new_schedule_image_path(params[:schedule_id]), :class => "link_button" %>
        <% end %>
      </div>
      <div class="actions-bar">
        <div class="actions">
        </div>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>


<% content_for :sidebar, render(:partial => 'sidebar', :locals => { :help => "Selecting the thumbnail image will open the high-resolution version of that image." }) -%>