<% title ("Online Help - Scheduling the Telescope") %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Online Help', :controller => :info, :action => :help %></li>
      <li class="active"><%= link_to 'Telescope Scheduling', :controller => :info, :action => :schedule %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Scheduling the Telescope</h2>
    <div class="inner">
      <%= image_tag "online_help/Step2_ScheduleTab.jpg", :class => :border %><br /><br />
      Once a user has logged in to the system, they can schedule the telescope to capture images.
      To do this the user should first click on the "Schedule Log" tab on the main navigation bar, if they are not already viewing the schedule log.<br /><br />
      <%= image_tag "online_help/Step2_NewSchedule.jpg", :class => :border %><br /><br />
      To add a new schedule click the "New Schedule" button located at the bottom of the list of schedules.
      This takes the user to the New Schedule page where they can specify what options the telescope and camera should use for this set of images.<br /><br />
      <%= image_tag "online_help/Step2_NewSchedulePage.jpg", :class => :border %><br /><br />
      The user should select a start time for when the image capturing should start.
      This time has to be in the future and cannot conflict with any pre-existing schedules.<br /><br />
      Then, coordinates must be entered.
      This can be done in one of two ways - either by typing the name of a celestial object in the text field or by supplying right ascension and declination coordinates.<br /><br />
      Next, the camera settings must be supplied.
      However, the default values can be used, if the user does not wish to supply any changes.<br /><br />
      Finally, duration must be given.
      This can also be done in one of two ways - either by a duration (how long the telescope should be positioned at this position and capture images for) or a number of pictures (maximum amount of images to be captured).
      These two options are mutually exclusive and only one duration method is allowed.
      <br /><br />
      <%= image_tag "online_help/Step2_DurationType.jpg", :class => :border %><br /><br />
      Once all options have been set the user can click the "Save" button at the bottom of the New Schedule page to save the schedule.<br /><br />
      Then, the telescope will move to the indicated position at the time specified and take the requested number of numbers.<br /><br />
    </div>
  </div>
</div>