<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Stargazer - <%= h(yield(:title) || "Automatic Telescope Control System") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div id="user_nav">
        <% if current_user %> 
		  <%= @current_user.username %>
      	  <% if admin? %>
      	    <%= link_to "Manage Users", users_path %>
          <% end %>
          <%= link_to "Edit Profile", edit_user_path(@current_user) %>  
          <%= link_to "Logout", logout_path %>  
        <% else %>  
          <%= link_to "Register", new_user_path %>  
          <%= link_to "Log in", login_path %>  
        <% end %> 
	  </div>  
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
