<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Stargazer - <%= h(yield(:title) || "Automatic Telescope Control System") %></title>
	  <%= stylesheet_link_tag 'mobile', :media => 'handheld' %>
	  <%= stylesheet_link_tag 'web_app_theme', "themes/drastic-dark/style", 'scaffold', 'web_app_theme_override', :media => 'screen' %>
      <%= javascript_include_tag  :defaults %>
      <%= calendar_date_select_includes "silver" %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Stargazer - Automatic Telescope Control System</a></h1>
      <div id="user-navigation">
      <% if current_user %> 
	        <ul>
	          <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
	          <li><%= link_to "Logout", logout_path, :class => "logout" %></li>
	        </ul>
        <% end %> 
        <div class="clear"></div>
      </div>      
      <div id="main-navigation">
        <% if current_user %>
          <ul>
	          <li><%= link_to "Schedule Log", schedules_path %></li>
	          <% if admin? %>
	            <li><%= link_to "Manage Users", users_path %></li>
	            <li><%= link_to "Park Telescope", users_path, :confirm => 'Are you sure?' %></li>
	          <% end %>
	          <li><%= link_to "About", :controller => :info, :action => :about %></li>
	          <li><%= link_to "Help", :controller => :info, :action => :help %></li>
          </ul>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Stargazer version: <%= Stargazer::Version::STRING %></p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>
